---
---

@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700');

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    font-size: 16px;
}

body {
    // Hide horizontal scrolling bar when added to Wix
    overflow-x: hidden;
}

h2 {
    font-weight: 200;
}

.container-fluid {
    max-width: 1440px;
}

.inline-block {
    display: inline-block;
}

// Lessons
.lesson-item {
    .lesson-item-delete span {
        cursor: hand;
    }
}
