---
---

@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700');

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    font-size: 16px;
}

body {
    // Hide horizontal scrolling bar when added to Wix
    overflow-x: hidden;
}

h2 {
    font-weight: 200;
}

.container-fluid {
    max-width: 1440px;
}

.inline-block {
    display: inline-block;
}

// Lessons
.lessons-list {

    .lesson-item {
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
        padding: 5px 0;

        a,
        span,
        select,
        label {
            line-height: 34px;
        }

        .lesson-item-delete .delete-lesson-btn {
            cursor: pointer;
        }

        .lesson-item-participants label {
            margin: 0 15px 5px 0;
            font-weight: normal;
        }
    }
}
