---
---

@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600,700');

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    font-size: 16px;
}

h3 {
    font-weight: 200;
}

.inline-block {
    display: inline-block;
}
