<!DOCTYPE html>
<html>

<head>
  <title></title>
  <!-- 3rd-party CSS libraries/frameworks -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <!-- Custom CSS goes here -->
  <link rel="stylesheet" href="css/main.css" type="text/css">
</head>

<body ng-app="BookingLessonApp">
  <div class="container" ng-app="BookingLessonApp">
    <!-- Book lessons header -->
    <h3>Book your lessons <span class="text-danger">(not available, yet)</span>:</h3>
    <div class="lesson-options">

      <!-- Choose lesson type -->
      <div class="lesson-type-dropdown inline-block" ng-controller="LessonTypeDropdownController as ctrl">
        <span>Type:</span>
        <div class="dropdown inline-block" uib-dropdown>
          <button id="lesson-type-dropdown-toggle" class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
            {{ ctrl.selected }}
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="lesson-type-dropdown-toggle">
            <li role="menuitem" ng-repeat="item in ctrl.items">
              <a ng-click="ctrl.selected = item">{{ item }}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Choose activity -->
      <div class="lesson-activity-dropdown inline-block" ng-controller="LessonActivityDropdownController as ctrl">
        <span>Choose activity:</span>
        <div class="dropdown inline-block" uib-dropdown>
          <button id="lesson-activity-dropdown-toggle" class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
            {{ ctrl.selected }}
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="lesson-activity-dropdown-toggle">
            <li role="menuitem" ng-repeat="item in ctrl.items">
              <a ng-click="ctrl.selected = item">{{ item }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form action="" id="booking-group-lesson-form" class="lesson-form">
      <ul id="lesson-slots">
      </ul>
    </form>
  </div>
  <!-- 3rd-party JS libraries/frameworks -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <!--
    <script type="text/javascript">
        /* The bottom JS */
        // Initialise the objects
        var wixData = {};

        // Loads the data from Wix page
        window.onmessage = function(event) {
            if (event.data) {
                wixData = event.data;
                console.log(wixData);
                $("#lesson-slots").append(
                    $("<li>").text(wixData)
                );
            }
        };
    </script>
 -->
  <script src="js/app/app.js"></script>
  <script src="js/app/controller.lesson-type-dropdown.js"></script>
  <script src="js/app/controller.lesson-activity-dropdown.js"></script>
</body>

</html>
