---
---

<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <!-- 3rd-party JS/CSS libraries/frameworks that need to be loaded in the head -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- Custom CSS goes here -->
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>

  <body ng-app="BookingLessonApp">
    <div ng-controller="LessonsController as vm">
      <!-- Book lessons header -->
      <h2>Book your lessons</h2>
      <div class="lesson-options">
        <!-- Choose lesson type -->
        <div class="lesson-type-dropdown inline-block">
          <span>Type:</span>
          <div class="selector inline-block">
            <select name="lessonType" id="lessonType"
                    ng-options="option for option in vm.settings.LESSON_TYPES"
                    ng-model="vm.lessonType"
                    ng-change="vm.updateLessons()"></select>
          </div>
        </div>
        <!-- Choose activity -->
        <div class="lesson-activity-dropdown inline-block">
          <span>Choose activity:</span>
          <div class="selector inline-block">
            <select name="lessonActivity" id="lessonActivity"
                    ng-options="option for option in vm.settings.ACTIVITY_TYPES" ng-model="vm.activityType"></select>
          </div>
        </div>
      </div>

      <!-- Book Lesson Details -->
      <div class="lessons-booker" ng-switch on="vm.lessonType" ng-if="vm.isDataAvailable()">

        <div id="group-lessons">
          <div class="group-lessons-adult lessons-list">
            <h3>Group Lessons - Adult (18+ yrs)</h3>

            <div class="lessons-list-headers row">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">Date</div>
              <div class="col-sm-2">AM/PM</div>
              <div class="col-sm-3">Ability</div>
              <div class="col-sm-4">Participants</div>
            </div>

            <lesson-item ng-repeat="lesson in vm.getAdultLessons()"
                         lesson="lesson" participants="vm.adultParticipants"
                         delete-lesson="vm.deleteLesson">
            </lesson-item>
          </div>

          <div class="group-lessons-children lessons-list">
            <h3>Group Lessons - Child (6–12 yrs) / Teen (13—17 years)</h3>

            <div class="lessons-list-headers row">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">Date</div>
              <div class="col-sm-2">AM/PM</div>
              <div class="col-sm-3">Ability</div>
              <div class="col-sm-4">Participants</div>
            </div>

            <lesson-item ng-repeat="lesson in vm.getChildrenLessons()"
                         lesson="lesson" participants="vm.childrenParticipants"
                         delete-lesson="vm.deleteLesson">
            </lesson-item>
          </div>

        </div>

        <div id="private-lessons">
          <h3>Private Lessons</h3>
          <h5 class="text-danger">
            A maximum of up to 4 people can join the lesson. Everyone must be at the same level of ability.
          </h5>

          <form action="" class="form-horizontal">
            <div class="form-group specific-instructor">
              <label for="need-specific-instructor" class="col-sm-3">Specific instructor in mind?</label>
              <div class="col-sm-6">
                <select name="specificInstructor" id="specific-instructor"
                        ng-init="needSpecificInstructor = 0"
                        ng-model="needSpecificInstructor">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <div class="form-group instructor-name-description" ng-if="needSpecificInstructor == 1">
              <label for="instructor-name-description" class="col-sm-3">Name or description of the instructors</label>
              <div class="col-sm-6">
                <textarea class="form-control"
                          name="privateLessonsSpecificRequirements" id="instructor-name-description" rows="4"
                          placeholder="Special requests? Add them here"></textarea>
              </div>
            </div>
            <div class="form-group specific-requirements">
              <label for="specific-requirements" class="col-sm-3">Any specific requirements you want your instructor to
                know?</label>
              <div class="col-sm-6">
                <textarea class="form-control"
                          name="privateLessonsSpecificRequirements" id="specific-requirements" rows="4"
                          placeholder="Special requests? Add them here"></textarea>
              </div>
            </div>
          </form>

          <div class="lessons-list-headers row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Date</div>
            <div class="col-sm-2">AM/PM</div>
            <div class="col-sm-3">Ability</div>
            <div class="col-sm-4">Participants</div>
          </div>

        </div>
        <div id="private-disabled-lessons">
          <h3>Private (disabled) Lessons</h3>
          <h5 class="text-danger">
            A maximum of up to 4 people can join the lesson. Everyone must be the same ability.
          </h5>
          <form action="" class="form-horizontal">
            <div class="form-group dwa-membership">
              <label for="dwa-membership" class="col-sm-3">Enter your DWA Membership ID</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="dwa-membership">
              </div>
            </div>
            <div class="form-group specific-instructor">
              <label for="need-specific-instructor" class="col-sm-3">Specific instructor in mind?</label>
              <div class="col-sm-6">
                <select name="specificInstructor" id="specific-instructor"
                        ng-init="needSpecificInstructor = 0"
                        ng-model="needSpecificInstructor">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <div class="form-group instructor-name-description" ng-if="needSpecificInstructor == 1">
              <label for="instructor-name-description" class="col-sm-3">Name or description of the instructors</label>
              <div class="col-sm-6">
                <textarea class="form-control"
                          name="privateLessonsSpecificRequirements" id="instructor-name-description" rows="4"
                          placeholder="Special requests? Add them here"></textarea>
              </div>
            </div>
            <div class="form-group specific-requirements">
              <label for="specific-requirements" class="col-sm-3">Any specific requirements you want your instructor to
                know?</label>
              <div class="col-sm-6">
                <textarea class="form-control"
                          name="privateLessonsSpecificRequirements" id="specific-requirements" rows="4"
                          placeholder="Special requests? Add them here"></textarea>
              </div>
            </div>
          </form>

          <div class="lessons-list-headers row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Date</div>
            <div class="col-sm-2">AM/PM</div>
            <div class="col-sm-3">Ability</div>
            <div class="col-sm-4">Participants</div>
          </div>
        </div>


      </div>

      <div class="results">
        <h2>Returned results</h2>
        <pre>[{ vm.results | json }]</pre>
      </div>
    </div>
    <!-- 3rd-party JS libraries/frameworks -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rx-angular/1.1.3/rx.angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/3.1.1/moment-range.min.js"></script>
    <script src="js/booking-lesson-app/libraries/checklist-model.js"></script>

    <!-- Our own JS -->
    <script type="text/javascript">
        // Initialise Moment
        window['moment-range'].extendMoment(moment);
    </script>
    <script src="js/booking-lesson-app/app.module.js"></script>
    <script src="js/booking-lesson-app/app.config.js"></script>
    <script src="js/booking-lesson-app/app.constants.js"></script>
    <script src="js/booking-lesson-app/factories/wix-data-msg.factory.js"></script>
    <script src="js/booking-lesson-app/lesson/lessons.controller.js"></script>
    <script src="js/booking-lesson-app/lesson-options/type-dropdown.controller.js"></script>
    <script src="js/booking-lesson-app/lesson-options/activity-dropdown.controller.js"></script>
    <script src="js/booking-lesson-app/lesson/lessons-list.component.js"></script>
    <script src="js/booking-lesson-app/lesson/lesson-item.component.js"></script>
  </body>

</html>
