---
---

<div id="[{ $ctrl.activity }]-lessons" class="activity-lessons">
  <div id="[{ $ctrl.activity }]-group-lessons" class="lessons-booker-inner">
    <h3>
      Group Lessons
      <a class="skip-btn small btn-link" ng-click="$ctrl.scrollTo($ctrl.activity + '-private-lessons')">Skip</a>
    </h3>
    <div class="alert alert-info">
      <strong>AM</strong> lessons start at <strong>10am</strong> and finish at <strong>12:20pm</strong>.
      <br>
      <strong>PM</strong> lessons start at <strong>1:30pm</strong> and finish at <strong>2:50pm</strong>.
    </div>
    <div class="group-lessons-adult lessons-list" ng-if="$ctrl.participants.adults.length">
      <h4>Adult (18+ yrs)</h4>

      {% include components/group_lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.results.lessons.group.adults | orderBy: 'date'"
                   class="lesson-item-component"
                   lesson="lesson"
                   type="'group.adults'"
                   participants="$ctrl.participants.adults"
                   duplicate-lesson="$ctrl.duplicateLessonGroupAdults"
                   delete-lesson="$ctrl.deleteLessonGroupAdults">
      </lesson-item>
    </div>

    <div class="group-lessons-children lessons-list" ng-if="$ctrl.participants.children.length">
      <h4>Child (6–12 yrs) / Teen (13–17 years)</h4>

      {% include components/group_lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.results.lessons.group.children | orderBy: 'date'"
                   class="lesson-item-component"
                   lesson="lesson"
                   type="'group.children'"
                   participants="$ctrl.participants.children"
                   duplicate-lesson="$ctrl.duplicateLessonGroupChildren"
                   delete-lesson="$ctrl.deleteLessonGroupChildren">
      </lesson-item>
    </div>

    <div class="group-lessons-mini lessons-list" ng-if="$ctrl.participants.mini.length">
      <h4>Mini (3–5 yrs)</h4>

      {% include components/group_lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.results.lessons.group.mini | orderBy: 'date'"
                   class="lesson-item-component"
                   lesson="lesson"
                   type="'group.mini'"
                   participants="$ctrl.participants.mini"
                   duplicate-lesson="$ctrl.duplicateLessonGroupMini"
                   delete-lesson="$ctrl.deleteLessonGroupMini">
      </lesson-item>
    </div>

  </div>

  <div id="[{ $ctrl.activity }]-private-lessons" class="lessons-booker-inner" ng-if="$ctrl.participants.normal.length">
    <h3>
      Private Lessons
      <a class="skip-btn small btn-link"
         ng-click="$ctrl.scrollTo($ctrl.activity + '-private-disabled-lessons')">Skip</a>
    </h3>
    <div class="alert alert-warning">
      A maximum of up to 4 people can join a lesson. Everyone must be at the same level of ability.
    </div>

    <form action="" class="form-horizontal">
      <div class="form-group specific-instructor">
        <label class="col-sm-3">
          Specific instructor in mind?
        </label>
        <div class="col-sm-9">
          <select ng-model="$ctrl.results.lessons.private.instructor.required"
                  ng-options="o.value as o.name for o in $ctrl.settings.YES_NO_OPTIONS">
          </select>
        </div>
      </div>
      <div class="form-group instructor-name-description"
           ng-if="$ctrl.results.lessons.private.instructor.required">
        <label class="col-sm-3">
          Name or description of the instructor
        </label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="4"
                    ng-model="$ctrl.results.lessons.private.instructor.details"></textarea>
        </div>
      </div>
      <div class="form-group specific-requirements">
        <label class="col-sm-3">
          Any special requests?
        </label>
        <div class="col-sm-9">
                <textarea
                    class="form-control" rows="5"
                    placeholder="Any specific requirements you want your instructor to know? What do you want to get out of the lesson? Max. 150 characters."
                    ng-model="$ctrl.results.lessons.private.requests"></textarea>
        </div>
      </div>
    </form>

    <div class="lessons-list">
      {% include components/lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.results.lessons.private.lessons | orderBy: 'date'"
                   class="lesson-item-component"
                   lesson="lesson"
                   type="'private'"
                   participants="$ctrl.participants.normal"
                   duplicate-lesson="$ctrl.duplicateLessonPrivate"
                   delete-lesson="$ctrl.deleteLessonPrivate">
      </lesson-item>
    </div>

  </div>
  <div id="[{ $ctrl.activity }]-private-disabled-lessons" class="lessons-booker-inner"
       ng-if="$ctrl.participants.disabled.length">
    <h3>Private (disabled) Lessons</h3>
    <div class="alert alert-warning">
      A maximum of up to 4 people can join a lesson. Everyone must be at the same level of ability.
    </div>
    <form action="" class="form-horizontal">
      <div class="form-group specific-instructor">
        <label class="col-sm-3">
          Specific instructor in mind?
        </label>
        <div class="col-sm-9">
          <select ng-model="$ctrl.results.lessons.disability.instructor.required"
                  ng-options="o.value as o.name for o in $ctrl.settings.YES_NO_OPTIONS">
          </select>
        </div>
      </div>
      <div class="form-group instructor-name-description"
           ng-if="$ctrl.results.lessons.disability.instructor.required">
        <label class="col-sm-3">
          Name or description of the instructor
        </label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="4"
                    ng-model="$ctrl.results.lessons.disability.instructor.details"></textarea>
        </div>
      </div>
      <div class="form-group specific-requirements">
        <label class="col-sm-3">
          Any special requests?
        </label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="5"
                    placeholder="Any specific requirements you want your instructor to know? What do you want to get out of the lesson? Max. 150 characters."
                    ng-model="$ctrl.results.lessons.disability.requests"></textarea>
        </div>
      </div>
    </form>

    <div class="lessons-list">
      {% include components/lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.results.lessons.disability.lessons | orderBy: 'date'"
                   class="lesson-item-component"
                   lesson="lesson"
                   type="'disability'"
                   participants="$ctrl.participants.disabled"
                   duplicate-lesson="$ctrl.duplicateLessonDisability"
                   delete-lesson="$ctrl.deleteLessonDisability">
      </lesson-item>
    </div>
  </div>

</div>
