---
---

<div id="[{ $ctrl.activity }]-lessons" class="activity-lessons">
  <div id="group-lessons" class="lessons-booker-inner">
    <h3>Group Lessons</h3>
    <div class="alert alert-info">
      <strong>AM</strong> lessons start at <strong>10am</strong> and finish at <strong>12:20pm</strong>.
      <br>
      <strong>PM</strong> lessons start at <strong>1:30pm</strong> and finish at <strong>2:50pm</strong>.
    </div>
    <div class="group-lessons-adult lessons-list" ng-if="$ctrl.participants.adults.length">
      <h4>Adult (18+ yrs)</h4>

      {% include components/group_lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.results.lessons.group.adults"
                   lesson="lesson" participants="$ctrl.participants.adults"
                   delete-lesson="$ctrl.deleteLesson('group.adults')">
      </lesson-item>
    </div>

    <!--
    <div class="group-lessons-children lessons-list" ng-if="$ctrl.participants.children.length">
      <h4>Child (6–12 yrs) / Teen (13–17 years)</h4>

      {% include components/group_lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.getChildrenLessons()"
                   lesson="lesson" participants="$ctrl.participants.children"
                   delete-lesson="$ctrl.deleteLesson">
      </lesson-item>
    </div>

    <div class="group-lessons-mini lessons-list">
      <h4>Mini (3–5 yrs)</h4>

      {% include components/group_lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.getMiniLessons()"
                   lesson="lesson" participants="$ctrl.participants.mini"
                   delete-lesson="$ctrl.deleteLesson">
      </lesson-item>
    </div>

  </div>

  <div id="private-lessons" class="lessons-booker-inner">
    <h3>Private Lessons</h3>
    <div class="alert alert-warning">
      A maximum of up to 4 people can join a lesson. Everyone must be at the same level of ability.
    </div>

    <form action="" class="form-horizontal">
      <div class="form-group specific-instructor">
        <label class="col-sm-3">
          Specific instructor in mind?
        </label>
        <div class="col-sm-9">
          <select ng-model="$ctrl.results.notes.privateLesson.needSpecificInstructor"
                  ng-options="o.value as o.name for o in $ctrl.settings.YES_NO_OPTIONS">
          </select>
        </div>
      </div>
      <div class="form-group instructor-name-description"
           ng-if="$ctrl.results.notes.privateLesson.needSpecificInstructor">
        <label class="col-sm-3">
          Name or description of the instructor
        </label>
        <div class="col-sm-9">
                <textarea
                    class="form-control" rows="4"
                    ng-model="$ctrl.results.notes.privateLesson.instructorDescription"></textarea>
        </div>
      </div>
      <div class="form-group specific-requirements">
        <label class="col-sm-3">
          Any special requests?
        </label>
        <div class="col-sm-9">
                <textarea
                    class="form-control" rows="5"
                    placeholder="Any specific requirements you want your instructor to know? What do you want to get out of the lesson? Max. 150 characters."
                    ng-model="$ctrl.results.notes.privateLesson.specificRequirements"></textarea>
        </div>
      </div>
    </form>

    <div class="lessons-list">
      {% include components/lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.getPrivateLessons()"
                   lesson="lesson" participants="$ctrl.participants.normal"
                   delete-lesson="$ctrl.deleteLesson">
      </lesson-item>
    </div>

  </div>
  <div id="private-disabled-lessons" class="lessons-booker-inner">
    <h3>Private (disabled) Lessons</h3>
    <div class="alert alert-warning">
      A maximum of up to 4 people can join a lesson. Everyone must be at the same level of ability.
    </div>
    <form action="" class="form-horizontal">
      <div class="form-group dwa-membership">
        <label class="col-sm-3">Membership ID</label>
        <div class="col-sm-1">
          <select ng-model="$ctrl.results.notes.privateDisabledLesson.disabilityMembership.type"
                  ng-options="o for o in $ctrl.settings.DISABILITY_MEMBERSHIP_TYPES">
          </select>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control"
                 ng-model="$ctrl.results.notes.privateDisabledLesson.disabilityMembership.id">
        </div>
      </div>
      <div class="form-group specific-instructor">
        <label class="col-sm-3">
          Specific instructor in mind?
        </label>
        <div class="col-sm-9">
          <select ng-model="$ctrl.results.notes.privateDisabledLesson.needSpecificInstructor"
                  ng-options="o.value as o.name for o in $ctrl.settings.YES_NO_OPTIONS">
          </select>
        </div>
      </div>
      <div class="form-group instructor-name-description"
           ng-if="$ctrl.results.notes.privateDisabledLesson.needSpecificInstructor">
        <label class="col-sm-3">
          Name or description of the instructor
        </label>
        <div class="col-sm-9">
                <textarea
                    class="form-control" rows="4"
                    ng-model="$ctrl.results.notes.privateDisabledLesson.instructorDescription"></textarea>
        </div>
      </div>
      <div class="form-group specific-requirements">
        <label class="col-sm-3">
          Any special requests?
        </label>
        <div class="col-sm-9">
                <textarea
                    class="form-control" rows="5"
                    placeholder="Any specific requirements you want your instructor to know? What do you want to get out of the lesson? Max. 150 characters."
                    ng-model="$ctrl.results.notes.privateDisabledLesson.specificRequirements"></textarea>
        </div>
      </div>
    </form>

    <div class="lessons-list">
      {% include components/lessons_list_headers.html %}

      <lesson-item ng-repeat="lesson in $ctrl.getPrivateDisabledLessons()"
                   lesson="lesson" participants="$ctrl.participants.disabled"
                   delete-lesson="$ctrl.deleteLesson">
      </lesson-item>
    </div>
    -->
  </div>
</div>
