---
---

<div class="personal-disability-lessons-container">
  <h4 class="lead">For [{ $ctrl.participant.firstName }]</h4>

  <form class="form-horizontal">
    <div class="form-group specific-instructor">
      <label class="col-sm-3">
        Specific instructor in mind?
      </label>
      <div class="col-sm-9">
        <select ng-model="$ctrl.results.instructor.required"
                ng-options="o.value as o.name for o in $ctrl.settings.YES_NO_OPTIONS">
        </select>
      </div>
    </div>
    <div class="form-group instructor-name-description"
         ng-if="$ctrl.results.instructor.required">
      <label class="col-sm-3">
        Name or description of the instructor
      </label>
      <div class="col-sm-9">
          <textarea class="form-control" rows="4"
                    ng-model="$ctrl.results.instructor.details"></textarea>
      </div>
    </div>
    <div class="form-group specific-requirements">
      <label class="col-sm-3">
        Any special requests?
      </label>
      <div class="col-sm-9">
          <textarea class="form-control" rows="5"
                    placeholder="Any specific requirements you want your instructor to know? What do you want to get out of the lesson? Max. 150 characters."
                    ng-model="$ctrl.results.requests"></textarea>
      </div>
    </div>
  </form>

  <div class="lessons-list">
    {% include components/lessons_list_headers.html %}

    <lesson-item ng-repeat="lesson in $ctrl.results.lessons | orderBy: 'date'"
                 class="lesson-item-component"
                 activities="$ctrl.activities"
                 lesson="lesson"
                 type="'disability'"
                 participants="$ctrl.participants"
                 duplicate-lesson="$ctrl.duplicateLesson"
                 delete-lesson="$ctrl.deleteLesson">
    </lesson-item>
  </div>
</div>
