<!-- Lesson item -->
<div class="lesson-item row">
  <div class="col-sm-2 lesson-item-date">
    <span>[{ $ctrl.lesson.date | date: 'd MMM yyyy' }]</span>
    <a
      class="btn-change-lesson-date"
      ng-click="$ctrl.toggleDatePicker = !$ctrl.toggleDatePicker"><i class="far fa-edit"></i></a>
    <input
      type="text" class="date-picker"
      uib-datepicker-popup
      ng-model="$ctrl.lesson.date"
      ng-model-option="{ timezone: 'UTC' }"
      is-open="$ctrl.toggleDatePicker"
      datepicker-options="$ctrl.datePickerOptions"
      show-button-bar="false"
      popup-placement="right-top">
  </div>
  <div class="col-sm-1 lesson-item-time">
    <div class="selector">
      <select
        name="time"
        ng-model="$ctrl.lesson.time"
        ng-options="o for o in $ctrl.getTimeOptions()">
      </select>
    </div>
  </div>
  <div class="col-sm-2 lesson-item-activity">
    <span>[{ $ctrl.lesson.activity }]</span>
  </div>
  <div class="col-sm-1 lesson-item-duration" ng-if="$ctrl.isLessonPrivateOrDisability()">
    <div class="selector">
      <select
        name="duration"
        ng-model="$ctrl.lesson.duration"
        ng-options="option.value as option.name for option in $ctrl.settings.DURATION_OPTIONS">
      </select>
    </div>
  </div>
  <div class="lesson-item-participants" ng-class="$ctrl.getParticipantsColumnCssClass()">
    <div class="row">
      <label
        class="col-sm-3 text-muted"
        ng-repeat="participant in $ctrl.lesson.participants"
        uib-popover="[{ $ctrl.popupMessage }]"
        popover-enable="true"
        popover-trigger="'mouseenter'">

        <input
          type="checkbox"
          checked="checked"
          ng-disabled="true">

        [{ participant.firstName }]
      </label>
    </div>
  </div>
  <div class="col-sm-1 lesson-item-actions text-right">
    <a
      class="btn-link btn-move-lesson"
      title="Move to Private/Group"
      ng-click="$ctrl.onMove()"
      ng-if="$ctrl.type !== 'disability'">
      <i class="far fa-arrow-alt-circle-right"></i>
    </a>
  </div>
</div>
