<!-- Lesson item -->
<div class="lesson-item row">
  <div class="col-sm-1 lesson-item-delete">
    <a class="delete-lesson-btn" ng-click="$ctrl.onDelete()">
      <i class="far fa-trash-alt"></i>
    </a>
  </div>
  <div class="col-sm-2 lesson-item-date">
    [{ $ctrl.lesson.date | date: 'MMM d, yyyy' }]
  </div>
  <div class="col-sm-2 lesson-item-time">
    <button class="btn" type="button" uib-btn-checkbox ng-model="$ctrl.lesson.isAM" ng-class="$ctrl.getAmPmCSSClass()">
      [{ $ctrl.getAmPm() }]
    </button>
  </div>
  <div class="col-sm-3 lesson-item-level">
    <div class="selector">
      <select name="level" class="custom-select"
              ng-model="$ctrl.lesson.level"
              ng-options="option for option in $ctrl.settings.ABILITY_LEVELS">
      </select>
    </div>
  </div>
  <div class="col-sm-4 lesson-item-participants">
    <label ng-repeat="participant in $ctrl.participants">
      <input type="checkbox"
             data-checklist-model="$ctrl.lesson.participants" data-checklist-value="participant">
      [{ participant.name }]
    </label>
  </div>
</div>
