<!-- Lesson item -->
<div class="lesson-item row">
  <div class="col-sm-2 lesson-item-date">
    <span>[{ $ctrl.lesson.date | date: 'MMM d, yyyy' }]</span>
  </div>
  <div class="col-sm-2 lesson-item-time">
    <div class="selector">
      <select name="time"
              ng-model="$ctrl.lesson.time"
              ng-options="o for o in $ctrl.getTimeOptions()">
      </select>
    </div>
  </div>
  <div class="col-sm-1 lesson-item-duration" ng-if="$ctrl.isLessonPrivate()">
    <div class="selector">
      <select name="duration"
              ng-model="$ctrl.lesson.duration"
              ng-options="option.value as option.name for option in $ctrl.settings.DURATION_OPTIONS">
      </select>
    </div>
  </div>
  <div class="col-sm-2 lesson-item-level">
    <div class="selector">
      <select name="level" class="custom-select"
              ng-model="$ctrl.lesson.level"
              ng-options="option for option in $ctrl.settings.ABILITY_LEVELS">
      </select>
    </div>
  </div>
  <div class="lesson-item-participants" ng-class="$ctrl.getParticipantsColumnCssClass()">
    <div class="row">
      <label ng-repeat="participant in $ctrl.participants" class="col-sm-5">
        <input type="checkbox"
               data-checklist-model="$ctrl.lesson.participants" data-checklist-value="participant">
        [{ participant.title }]
      </label>
    </div>
  </div>
  <div class="col-sm-2 lesson-item-add">
    <a class="btn-link btn-add-lesson" ng-click="$ctrl.onAddLesson()">Add Lesson</a>
    &nbsp;|&nbsp;
    <a class="btn-link btn-delete-lesson" ng-click="$ctrl.onDelete()">
      <i class="far fa-trash-alt"></i>
    </a>
  </div>
</div>
