<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Range Input: change live value</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <link rel="stylesheet" href="css/main.css" type="text/css">
</head>

<body>
<div class="clear-fix">
  <input type="range" id="range1" onchange="buttonClick();" min="1" max="7" step="1" value="1">
  <div class="value">1</div>
</div>
<script src="js/slider.main.js"></script>
</body>
</html>
